
#mainAll {
  position: fixed;
  top:0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-color: black;
  background-image: url("background.jpg");
  background-size: cover;
}