.navbar {
    position: absolute;
    top: 0;
    margin: 3rem;
    z-index: 10;
  }

  #navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  /* make navbar text black when offcanvas is enabled */
  @media only screen and (max-width: 768px) {
    .nav-link {
      color: black!important;
    }
    #dropdown-title {
      color: black!important;
    }
   }