
#myResumeAll {
    background-color: white;
    padding-top: 8rem;
}

#myResume {
    min-height: 100vw;
}

#resumeBuilderAll {
    background-color: white;
    padding-top: 8rem;
}


#resumeBuilder {
    background-color: white;
    max-width: 900px;
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

#resume {
    align-self: center;
    max-width: 900px;
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

#name {
    padding-top: 2rem;
    text-align: center;
    color: blue;
    margin-bottom: 0%;
}

#below-title{
    text-align: center;
    margin-bottom: 2rem;
}

#technical {
    color: blue;
    margin-bottom: 0;
}

.container hr {
    height:2px;
    background-color: black;
}

#link {
    text-decoration: underline;
    color: blue;
}

#grid {
    overflow: hidden;
}

#input-template-date{
    text-align: right;
    padding-right: 1rem;
}

#technologies-title{
    font-weight: 650;
}

#technologies {
    padding-left: 1.5rem;
}

#template-title{
    font-weight: 650;
    font-size: 1.2rem;
}

#input-section-title{
    font-weight: 650;
    font-size: 1.2rem;
}

#template-small{
    font-size: 0.9rem;
}


#resume-title {
    font-size: 1.5rem;
    font-weight: 650;
}

#list-template-remove {
    font-weight: 650;
    font-size: 1.2rem;
}
